name: FactoryHub Tests

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    
    - name: Install dependencies
      run: pip install -r requirements.txt
    
    - name: Run tests
      env:
        DJANGO_ENV: test

        SECRET_KEY: test-secret-key-for-ci-pipeline
        ALLOWED_HOSTS: 127.0.0.1
        DEBUG: True

        CORS_ALLOWED_ORIGINS=http://127.0.0.1, http://localhost:3000

        DATABASE_ENGINE: django.db.backends.sqlite3
        DATABASE_NAME: ":memory:"

      run: pytest --cov=apps --cov-report=term-missing